<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Dashboard</title>
  </head>

  <body>

    <!-- Inicio del menu -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          Dashboard
        </a>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Past Orders</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" type="button" class="btn btn-light">Logout</a>
            </li>
          </ul>
      </div>     
    </nav>
        </div>  
      </nav>

      <!--Dropdawn-->
        <h1>New Order</h1>
        <hr>
        
        <div class="dropdown" >
          <label for="" class="fw-bold" style="padding-left: 5px;">Place:</label>
          
            <select class="form-select form-select-sm" id="restaurantSelect" aria-label=".form-select-lg example">
              {% for restaurant in restaurants %}
                <option selected>Open this to select a restaurant</option>
                <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
              {% endfor %}
            </select> 
        </div>
        

        
      

            <!--checkbox-->

              <hr>
              <div class="container">
                <h2>Menu:</h2>
                <div id="dishesContainer">
                  <!-- The checkboxes will be dynamically generated here -->
                </div>
          
          </div>
          <!------------------------------------------------>

          <div class="container  w-25 p-3" style="background-color: #eee;" id="selectedDishesContainer">
            <div class="row">
              <h3>Dishes</h3>
              <div class="row">
                <div class="col">Dish 1</div>
                <div class="fw-bold col">RD$150</div>
              </div>
              <div class="row">
                <div class="col">Dish 1</div>
                <div class="fw-bold col">RD$150</div>
              </div>
              <hr>
              <div class="row row-cols-2">
                <div class=" col">Budget</div>
                <div class=" col">RD$75</div>
              <div class=" col fw-bold">You pay:</div>
              <div class="col">RD$75</div>
              </div>
              <button type="button" class="btn btn-outline-secondary">Place Order</button>
            </div>
           </div>
           <!--Budget capital-->
           <div class="container">
            <div class="row">
              <div class="fw-bold">RD$1500</div>
              <p>Budget Available</p>
            </div>
          </div>
       

      

      
       
      
      
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
            const restaurantSelect = document.getElementById('restaurantSelect');
            const dishesContainer = document.getElementById('dishesContainer');

            // Function to remove all elements inside the dishesContainer
          function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
          }

            // Function to fetch dishes based on the selected restaurant
            function fetchDishes(selectedRestaurantId) {
                fetch("getdishes/" + selectedRestaurantId + "?restaurant=" + selectedRestaurantId)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous checkboxes
                        dishesContainer.innerHTML = '';

                        // Generate checkboxes for each dish
                        data.dishes.forEach(dish => {
                        const checkboxDiv = document.createElement('div');
                        checkboxDiv.classList.add('form-check');

                        const checkboxInput = document.createElement('input');
                        checkboxInput.type = 'checkbox';
                        checkboxInput.classList.add('form-check-input');
                        checkboxInput.id = `dishCheckbox${dish.dish_id}`;
                        checkboxInput.name = 'selected_dishes';
                        checkboxInput.value = dish.dish_id;

                        checkboxInput.setAttribute('data-dish-name', dish.dish_name);
                        checkboxInput.setAttribute('data-dish-price', dish.dish_price);

                        const label = document.createElement('label');
                        label.classList.add('form-check-label');
                        label.setAttribute('for', `dishCheckbox${dish.dish_id}`);
                        label.textContent = `${dish.dish_name} - RD$${dish.dish_price}`;

                        checkboxDiv.appendChild(checkboxInput);
                        checkboxDiv.appendChild(label);

                        dishesContainer.appendChild(checkboxDiv);

                        });
                        getSelectedCheckbox();
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error:', error);
                    });
            }

            // Initial fetch for the selected restaurant
            fetchDishes(restaurantSelect.value);
            

            // Listen for changes in the select element
            restaurantSelect.addEventListener('change', function(event) {
                // Get the selected restaurant ID from the select option
                const selectedRestaurantId = event.target.value;

                // Clear previous checkboxes
                removeAllChildNodes(dishesContainer)

                // Fetch dishes based on the selected restaurant
                fetchDishes(selectedRestaurantId);
            });

          function getSelectedCheckbox(){
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const selectedDishesContainer = document.getElementById('selectedDishesContainer');
            // Loop through each checkbox and attach the event listener
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function(event) {
                  if (event.target.checked) {
                          // Checkbox is checked, add it to the selected dishes container
                          const selectedDishId = event.target.value;
                          const selectedDishName = event.target.getAttribute('data-dish-name');
                          const selectedDishPrice = event.target.getAttribute('data-dish-price');
                          const selectedDishRow = document.createElement('div');
                          selectedDishRow.classList.add('row');

                          const dishNameCol = document.createElement('div');
                          dishNameCol.classList.add('col');
                          dishNameCol.textContent = selectedDishName;

                          const dishPriceCol = document.createElement('div');
                          dishPriceCol.classList.add('fw-bold', 'col');
                          dishPriceCol.textContent = `RD$${selectedDishPrice}`;

                          selectedDishRow.appendChild(dishNameCol);
                          selectedDishRow.appendChild(dishPriceCol);

                          selectedDishesContainer.appendChild(selectedDishRow);
                    } else {
                      // Checkbox is unchecked, remove it from the selected dishes container
                        const selectedDishRow = document.querySelector(`[data-dish-id="${selectedDishId}"]`);
                        if (selectedDishRow) {
                            selectedDishesContainer.removeChild(selectedDishRow);
                        }
                        // Remove the 'data-dish-name' attribute from the checkbox
                        checkbox.removeAttribute('data-dish-name');
                    }
                });
            });
            }

            

        });
  </script>

  </body>
</html>